{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% for post in page %}
        <div>
            <h2><a href="#">{{ post.poster }}</a></h2>

            {# Show edit button when user is authenticated #}
            {% if user.is_authenticated %}
                <button class="edit" data-post="{{ post.id }}">Edit</button>
                <button class="like" data-post="{{ post.id }}" data-user="{{ user.username }}"></button>
            {% endif %}
            <p class="like_counter" data-post="{{ post.id }}"></p>
            <p class="content" data-post="{{ post.id }}">{{ post.content }}</p>
            <p class="timestamp">{{ post.timestamp }}</p>
        </div><br>
    {% endfor %}

    {# Paginator code #}
    <nav aria-label="...">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page.number }}<span class="sr-only">(current)</span></a>
            </li>
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}